@import "./Styles/HeaderStyle.css";
@import "./Styles/SelectorStyles.css";
@import "./Styles/VisualizationStyle.css";

:root {
  --sheetBackground: rgb(177, 174, 174);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: rgb(232, 244, 255)
}


.MainPage {
  display: flex;
  flex-direction: column;
  height: auto;
}
.HecateBody {
  display: flex;
  flex-direction: row;
  background-color: var(--sheetBackground);
  margin: 0px auto;
  height: 800px;
  width: 1000px;
  max-width: 100%;
  border-style: solid;
}

table,
th,
td {
  border: 1px solid;
  text-align: center;
}
