/* 
*****************************************
CSS Styles for Configure Sensor Page
*****************************************
*/
.ConfigSensorMainBox {
    display: flex;
    flex-direction: row;
    width: 777px;
    height: 800px;
    background-color: #607a8f;
    margin: 0px 0px 0px 0px;
    border-right-style: solid;
}
.ConfigSensorSubBox {
    display: flex;
    flex-direction: column;
    width: 514px;
    height: 700px;
    margin: 0px 0px 0px 0px;
}

/*
    Generic Sensor Attribute Box Styles
*/
.SensorAttributeMainBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 520px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    background-color: #DEE2E4;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}
.ConfigSensorTitleText {
    display: flex;
    width: 160px;
    height: auto;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    margin: 0px 0px 0px 5px;
    text-align: center;
    align-items: center;
}
.ConfigSensorStandardTextBox {
    display: flex;
    width: 250px;
    height: 35px;
    color: black;
    background-color: rgb(237, 237, 237);
    margin: 6px 0px 0px 0px;
    align-items: center;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
}
.ConfigSensorStandardText {
    display: flex;
    color: black;
    font-size: 11pt;
    margin: 0px 0px 0px 10px;
    text-align: center;
}
.SensorTextArea {
    font-size: 12pt;
    width: 245px;
    height: 31px;
    margin: 6px 0px 0px 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #222;
    background-color: rgb(255, 255, 255);
    resize: none;
}
.SensorInfoEditButton {
    width: 50px;
    height: 30px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: rgb(0, 0, 0);
    margin: 8px auto 0px auto;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
.SensorInfoEditButton:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}
.SensorDeviceSelector {
    width: 255px;
    height: 40px;
    margin: 5px 0px 0px 0px;
    font-size: 12pt;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2px;
    background-color: rgb(237, 237, 237);
}

/*
    Sensor Configuration Fields Styles
*/
.SensorConfigMainBox {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 50px;
    max-height: 300px;
    width: 520px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    background-color: #DEE2E4;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    
    overflow-y: auto;
    scroll-behavior: auto;
}
.SensorConfigSingleSubBox {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 360px;
    margin: 40px 0px 0px 5px;
    text-align: center;
    background-color: #a2b7cf;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.SensorConfigTopSubBox {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 360px;
    margin: 40px 0px 0px 5px;
    text-align: center;
    background-color: #a2b7cf;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.SensorConfigBottomSubBox {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 360px;
    margin: 5px 0px 5px 5px;
    text-align: center;
    background-color: #a2b7cf;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.SensorConfigSubBox {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 360px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    background-color: #a2b7cf;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.SensorConfigTitleText {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 35px;
    width: 470px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    font-size: 16pt;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #DEE2E4;

    >div {
        margin: 0px 0px 0px 10px;
    }
}
.ConfigSensorFieldTitleText {
    display: flex;
    width: 150px;
    height: auto;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    margin: 0px 0px 0px 5px;
    text-align: center;
    align-items: center;
}
.ConfigSensorFieldTextBox {
    display: flex;
    width: 150px;
    height: 25px;
    color: black;
    background-color: rgb(237, 237, 237);
    margin: 5px;
    align-items: center;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
}
.ConfigSensorFieldText {
    display: flex;
    color: black;
    font-size: 11pt;
    margin: 0px 0px 0px 10px;
    text-align: center;
}
.SensorConfigFieldTextArea {
    font-size: 12pt;
    width: 141px;
    height: 21px;
    margin: 5px 5px 0px 1px;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #222;
    background-color: rgb(255, 255, 255);
    resize: none;
}
.SensorConfigValueEditButton {
    width: 40px;
    height: 25px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: rgb(0, 0, 0);
    margin: 7px 5px 5px 5px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
.SensorConfigValueEditButton:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}


/*
    Sensor Config Button Styles
*/
.SensorConfigButtonBox {
    display: flex;
    flex-direction: column;
    height: 305px;
    width: 240px;
    margin: 5px 0px 0px 21px;
    align-items: center;
}
.SensorConfigUpdateButton {
    width: 235px;
    height: 45px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: rgb(0, 0, 0);
    margin: 8px auto 0px auto;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.SensorConfigCancelButton {
    width: 235px;
    height: 40px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: rgb(0, 0, 0);
    margin: 8px auto 0px auto;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.SensorConfigUpdateButton:hover, .SensorConfigCancelButton:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}
.SensorConfigDeleteText {
    color: rgb(255, 255, 255);
    margin: 8px auto 0px auto;
    font-size: 14pt;
    font-weight: 500;
}
.SensorConfigDeleteButton {
    width: 160px;
    height: 30px;
    background-color: rgb(190, 0, 0);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: rgb(255, 255, 255);
    margin: 20px 0px 0px 0px;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.SensorConfigDeleteButton:hover {
    background-color: rgb(230, 0, 0);
    cursor: pointer;
}

/*
    Sensor Updated Result Box Styles
*/
.SensorUpdatedMainBox {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 514px;

    margin: 8px 0px 0px 10px; 

    >button {
        font-size: 12pt;
    }
}
.UpdateSensorErrorText {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 514px;
    margin: 2px 2px 0px 0px;
    color: rgb(0, 0, 0);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.UpdateSensorErrorSubText {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 300px;
    margin: 10px 0px 0px 100px;
    color: rgb(0, 0, 0);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    background-color: rgb(207, 207, 207);
}
.UpdatedSensorExitButton {
    background-color:  #dfdfdf;
    color: #585858;
    font-size: 13pt;
    font-weight: bolder;
    margin: 10px 5px 0 -38px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}
.UpdatedSensorExitButton:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}

