/* 
*****************************************
CSS Styles for App Header
*****************************************
*/

/* 
  Main Header Style
*/
.MainHeader {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 120px;
  max-height: 100%;
  width: 1000px;
  padding-bottom: 10px;
  background-color: var(--sheetBackground);
  margin: 0px auto 0px auto;
  border-style: solid;
  border-bottom: none;
}

/* 
  Version Container Styles
*/
.VersionBox {
  display: flex;
  height: 20px;
  width: 395px;
  margin: 2px 0px 0px 28px;
  font-size: 10pt;
  font-weight: bold;
  color: black;
}

/* 
  Image Container Styles
*/
.ImageBox {
  display: flex;
  flex-direction: column;
  margin: 8px 10px 10px 0px;
  max-height: 100%;
  max-height: 100%;
  min-width: 200px;
}
.Logo {
  display: flex;
  height: 90px;
  width: 160px;
  margin: 0px 10px 0px 20px;
}

/* 
  Login Box Styles
*/
.MainHeaderLogin {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 280px;
  color: white;
  margin: 0px 0px 0px auto;
  background-color: rgb(117, 117, 117);
}
.mainLoginInputBox {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 280px;
  margin: 0px 15px 0px auto;
}
.userNameLoginBox {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  height: 20px;
  width: 280px;
  color: rgb(0, 0, 0);
  font-size: 9.5pt;
} 
.passwordLoginBox {
  display: flex;
  flex-direction: row;
  margin: 10px auto 15px auto;
  height: 20px;
  width: 280px;
  color: rgb(0, 0, 0);
  font-size: 9.5pt;
} 
.loginHeaderText {
  height: 20px;
  width: 85px;
  margin: 2px 2px 0px 0px;
  color: rgb(255, 255, 255);
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}
.LoginUserNameTextArea {
  margin: 0px 0px 0px 0px;
  height: 20px;
  max-height: 20px;
  width: 180px;
  color: rgb(0, 0, 0);
  font-size: 11pt;
  resize: none;
  background-color: rgb(244, 243, 243);
  border-style: solid;
  resize: none;
}
.LoginPasswordTextArea {
  margin: 0px 0px 0px -1px;
  height: 20px;
  max-height: 20px;
  width: 180px;
  color: rgb(0, 0, 0);
  font-size: 11pt;
  resize: none;
  background-color: rgb(244, 243, 243);
  border-style: solid;
  resize: none;
}
.UserLoginButtonSubBox {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 280px;
} 
.LogInOutButton {
  width: 120px;
  height: 30px;
  background-color: rgb(213, 213, 213);
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  color: rgb(0, 0, 0);
  margin: 5px auto 0px auto;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}
.LogInOutButton:hover {
  background-color: rgb(181, 181, 181);
  cursor: pointer;
}

/*
  Manage User Button Styles
*/
.ManageUsersMainBox {
  display: flex;
  height: 40px;
  width: 280px;
  color: white;
  margin: 0px 0px 0px 0px;
}

/*
  Manage User Button Styles
*/
.ManageUserButton {
  width: 120px;
  height: 30px;
  background-color: rgb(213, 213, 213);
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  color: rgb(0, 0, 0);
  margin: 0px auto 0px auto;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}
.ManageUserButton:hover {
  background-color: rgb(181, 181, 181);
  cursor: pointer;
}

/*
  LoggedIn Styles
*/
.loggedInUserMainBox {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 250px;
  margin: 0px 15px 0px auto;
  background-color: rgb(117, 117, 117);
}
.loggedInUserNameBox {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  height: 20px;
  width: 250px;
  color: rgb(0, 0, 0);
  font-size: 9.5pt;
} 
.loggedInText {
  height: auto;
  width: 250px;
  margin: auto 2px auto 0px;
  color: rgb(255, 255, 255);
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: aliceblue;
  border-bottom-width: 1px;
}