/* 
*****************************************
CSS Styles for App Selectors (Sensors, Times, Channels)
*****************************************
*/
.MainSelectorAndGraphBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    height: 800px;
    width: 777px;
    border-bottom-style: solid;
    border-right-style: solid;
}
.MainSelectorBox {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 0px 0px;
    height: 785px;
    width: 775px;
    border-bottom-style: solid;
}
.SubSelectorsBox {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    background-color: #607a8f;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: solid;
}

/* 
  Sensor Type Selector Styles
*/
.sensorSelectorMainBox {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 180px;
    margin: 0px 5px 5px auto;
    text-align: center;
}
.sensorTypeSelectorBox {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 180px;
    margin: 5px 5px 0px auto;
    text-align: center;
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
    border-style: solid;
}
.sensorTypeSelectorText {
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    font-size: 13pt;
}
.sensorTypeSelector {
    width: 150px;
    height: 30px;
    font-size: 11pt;
    margin: 5px auto;
}

/* 
  Time Selector Styles
*/
.timeTypeSelectorBox {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 180px;
    margin: 5px auto 0px 10px;
    text-align: center;
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
    border-style: solid;
}
.timeTypeSelectorText {
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    font-size: 13pt;
}
.timeTypeSelector {
    width: 150px;
    height: 30px;
    font-size: 11pt;
    margin: 5px auto;
}

/* 
  Channel Type Selector Styles
*/
.channelTypeSelectorBox {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 180px;
    margin: 5px 5px 0px 10px;
    text-align: center;
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
    border-style: solid;
}
.channelTypeSelectorText {
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    font-size: 13pt;
}
.channelTypeSelector {
    width: 150px;
    height: 30px;
    font-size: 11pt;
    margin: 5px auto;
}

/* 
  Sensor Configure Button Styles
*/
.ConfigureSensorButton {
    margin: 4.5px auto 0px auto;
    width: 135px;
    height: 24px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: rgb(0, 0, 0);
    font-size: 12pt;
    font-weight: 500;
    text-align: center;
}
.ConfigureSensorButton:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}