/* 
*****************************************
CSS Styles for the Graph Visualization 
*****************************************
*/
.MainVisualizationBox {
    display: flex;
    flex-direction: column;
    width: 777px;
    height: 680px;
    background-color: rgb(247, 247, 247);
    border-right-style: solid;
}