.ConfigDeviceMainBox {
    display: flex;
    flex-direction: column;
    width: 780px;
    height: 800px;
    /* background-color: rgb(230, 230, 230); */
    background-color: rgb(103, 176, 199);
    margin: 0px 0px 0px 0px;
}
.mainSensorInfoBox {
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 780px;
    margin: 0px 15px 0px 0px;
    background-color: rgb(137, 180, 178);
}
.newSensorTextEntryFieldsBox {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    margin: 0px 15px 0px 0px;
    background-color: rgb(118, 118, 177);
}
.sensorNameEntryBox, .sensorTypeEntryBox, .sensorZipCodeEntryBox, .sensorChannelCountEntryBox, .newSensorDeviceSelectionBox {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    height: 20px;
    width: 300px;
    /* background-color: #f7fcff;
    border-radius: 13px;
    border-style: solid; */
    color: rgb(0, 0, 0);
    font-size: 9.5pt;
} 
.newSensorTitleText {
    height: 20px;
    width: 120px;
    margin: 2px 2px 0px 0px;
    color: rgb(0, 0, 0);
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.newSensorInputTextArea {
    margin: 0px 0px 0px 0px;
    height: 20px;
    max-height: 20px;
    width: 150px;
    color: rgb(0, 0, 0);
    font-size: 11pt;
    resize: none;
}

.NewSensorUserSelectionMainBox {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 300px;
    margin: 0px 15px 0px 0px;
    background-color: rgb(179, 179, 179);
    color: rgb(0, 0, 0);
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.NewSensorErrorText {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 200px;
    margin: 2px 2px 0px 0px;
    color: rgb(0, 0, 0);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    background-color: rgb(136, 136, 136);
}

.NewSensorErrorSubText {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 200px;
    margin: 2px 2px 0px 0px;
    color: rgb(0, 0, 0);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    background-color: rgb(136, 136, 136);
}

.SensorSubmitAndCancelMainBox {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 250px;
    margin: 0px 15px 0px 20px;
    background-color: rgb(136, 136, 136);

    >button {
        font-size: 12pt;
    }
}

.NewSensorExitButton {
    background-color:  #dfdfdf;
    color: #585858;
    font-size: 13pt;
    font-weight: bolder;
    height: 25px;
    margin: 5px 5px 0 65px;
    text-align: center;
    width: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.NewSensorExitButton:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}

