/* 
*****************************************
CSS Styles for Hecate App Device Column
*****************************************
*/
.MainDevicesBox {
    display: flex;
    flex-direction: column;
    background-color: var(--sheetBackground);
    /* margin: 5px auto 0px auto; */
    height: 800px;
    width: 220px;
    border-right-style: solid;
}

.MainDeviceSelectorBox {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    max-height: 740px;
    background-color: rgb(230, 230, 230);
    /* background-color: blue; */
    color: black;
    margin: 5px 10px 0px 10px;
    font-size: 16pt;
    text-align: center;
    border-radius: 2px;
}

/* 
  Device Selector Styles
*/
.deviceSelectorTitleText {
    width: 175px;
    height: 40px;
    font-weight: bold;
    color: black;
    margin: 5px auto 0px auto;
    font-size: 16pt;
    text-align: center;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: solid;
}
.DeviceButton {
    margin: 10px auto;
    width: 150px;
    height: auto;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    color: rgb(0, 0, 0);
    margin: 10px auto 10px auto;
    font-size: 14pt;
    text-align: center;
    overflow: auto;
    overflow-wrap: break-word;
    line-height: normal;
    
    /* &:hover {
      background-color: #e4e8eb;
      cursor: pointer;
    } */
}
.SelectedDeviceButton {
    margin: 10px auto;
    width: 150px;
    height: auto;
    background-color: rgb(181, 181, 181);
    border-radius: 5px;
    border-style: solid;
    color: rgb(0, 0, 0);
    margin: 10px auto 10px auto;
    font-size: 14pt;
    text-align: center;
    overflow: auto;
    overflow-wrap: break-word;
    line-height: normal;
}

.SelectedDeviceButton:hover, .DeviceButton:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
    /* box-shadow: 1px 1px 1px rgb(181, 181, 181); */
}

/* .SelectedDeviceButton:active,  .DeviceButton:active {
    background-color: rgb(162, 162, 162);
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(181, 181, 181); 
} */

/* BLUE Background colors */
/* background-color: #1982d2;
background-color: #1670b5; */

.AddDeviceBox {
    display: flex;
    width: 200px;
    height: auto;
    max-height: 740px;
    background-color: rgb(230, 230, 230);
    /* background-color: blue; */
    color: black;
    margin: 5px 10px 0px 10px;
    font-size: 16pt;
    text-align: center;
    border-radius: 2px;
}