/* 
*****************************************
CSS Styles for Hecate App Header
*****************************************
*/

/* 
  Main Hecate Header Style
*/
.MainHecateHeader {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 120px;
  max-height: 100%;
  width: 1000px;
  padding-bottom: 10px;
  background-color: var(--sheetBackground);
  margin: 0px auto 0px auto;
  border-style: solid;
  border-bottom: none;
}

/* 
  Hecate Version Container Styles
*/
.VersionBox {
  display: flex;
  height: 20px;
  width: 395px;
  margin: 2px 0px 0px 28px;
  font-size: 10pt;
  font-weight: bold;
  color: black;
}

/* 
  Hecate Image Container Styles
*/
.ImageBox {
  display: flex;
  flex-direction: column;
  margin: 8px 10px 10px 0px;
  max-height: 100%;
  min-width: 200px;
}
.HecateLogo {
  display: flex;
  height: 100px;
  width: 395px;
  margin: auto 10px;
}

/* 
  Login Button Styles
*/
.MainHeaderLogin {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 250px;
  color: white;
  margin: 0px 15px 0px auto;
}
.mainLoginInputBox {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 250px;
  margin: 0px 15px 0px auto;
}
.userNameLoginBox, .passwordLoginBox {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  height: 20px;
  width: 250px;
  /* background-color: #f7fcff;
  border-radius: 13px;
  border-style: solid; */
  color: rgb(0, 0, 0);
  font-size: 9.5pt;
} 
.loginHeaderText {
  height: 20px;
  width: 85px;
  margin: 2px 2px 0px 0px;
  color: rgb(0, 0, 0);
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}
.loginInputTextArea {
  margin: 0px 0px 0px 0px;
  height: 20px;
  max-height: 20px;
  width: 150px;
  color: rgb(0, 0, 0);
  font-size: 11pt;
  resize: none;
} 
.loggedInText {
  height: 20px;
  width: 150px;
  margin: 2px 2px 0px 0px;
  color: rgb(0, 0, 0);
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  background-color: #e4e8eb;
}
.mainButton {
  margin: 10px auto;
  height: 40px;
  width: 100px;
  background-color: #f7fcff;
  border-radius: 13px;
  border-style: solid;
  color: rgb(0, 0, 0);
  /* margin: 10px 0px 10px 0px; */
  font-size: 12pt;
  font-weight: bold;  
  /* &:hover {
    background-color: #e4e8eb;
    cursor: pointer;
  } */
} 

.mainButton:hover {
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}