/* 
*****************************************
CSS Styles for the Manage Users Page
*****************************************
*/
.ManageUsersMainBox {
    display: flex;
    flex-direction: row;
    width: 778px;
    height: 800px;
    /* background-color: rgb(230, 230, 230); */
    background-color: rgb(103, 176, 199);
    margin: 0px 0px 0px 0px;
    border-right-style: solid;
    border-color: black;
}
.ManageUsersInfoSubBox {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 700px;
    /* background-color: rgb(230, 230, 230);
    background-color: rgb(27, 132, 69); */
    margin: 0px 0px 0px 0px;
}
.ManageUsersUserSelectionSubBox {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    /* background-color: rgb(230, 230, 230); */
    background-color: rgb(135, 215, 167);
    margin: 0px 0px 0px 0px;
}

/*
    List of Initial User Display Styles
*/
.UserListMainBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 500px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    background-color: goldenrod;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.userTitleText {
    display: flex;
    width: 200px;
    height: auto;
    color: black;
    /* background-color: aliceblue; */
    font-size: 12pt;
    font-weight: bold;
    margin: -3px 0px 0px 5px;
    text-align: center;
    align-items: center;
}
.userTypeText {
    display: flex;
    width: 175px;
    height: auto;
    color: black;
    /* background-color: aliceblue; */
    font-size: 12pt;
    font-weight: bold;
    margin: 0px 0px 0px 25px;
    text-align: center;
    align-items: center;
}
.userInfoEditButton {
    width: 50px;
    height: 25px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    color: rgb(0, 0, 0);
    margin: 13px auto 0px auto;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
.userInfoEditButton:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}
.UserIDTitleBox {
    display: flex;
    height: 40px;
    width: 100px;
    margin: 5px 0px 0px 5px;
    font-size: 15pt;
    text-align: center;
    /* text-decoration: underline; */
    background-color: goldenrod;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;

}

/*
    Edit User Form Styles
*/
.configDeviceStandardTextBox {
    display: flex;
    width: 250px;
    height: 35px;
    color: black;
    background-color: rgb(237, 237, 237);
    margin: 6px 0px 0px 0px;
    align-items: center;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
}
.configDeviceStandardText {
    display: flex;
    color: black;
    font-size: 11pt;
    margin: 0px 0px 0px 10px;
    text-align: center;
}
.manageUserTextArea {
    font-size: 12pt;
    width: 245px;
    height: 31px;
    margin: 6px 0px 0px 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #222;
    background-color: rgb(255, 255, 255);
    resize: none;
}

/*
    User Type Edit Buttons
*/
.EditUserTypeSubBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 252px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    /* background-color: antiquewhite; */
}
.EditUserTypeButton {
    margin: 10px 0px 0px 0px;
    width: 75px;
    height: auto;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    color: rgb(0, 0, 0);
    margin: 10px auto 10px auto;
    font-size: 14pt;
    text-align: center;
    line-height: normal;
}
.EditUserTypeButtonSelected {
    margin: 10px 0px 0px 0px;
    width: 75px;
    height: auto;
    background-color: rgb(181, 181, 181);
    border-radius: 5px;
    border-style: solid;
    color: rgb(0, 0, 0);
    margin: 10px auto 10px auto;
    font-size: 14pt;
    text-align: center;
    line-height: normal;
}
.EditUserTypeButton:hover, .EditUserTypeButtonSelected:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}

/*
    Updating Password Box Styles
*/
.UpdatingPasswordMainBox {
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 500px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    background-color: goldenrod;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}
.UpdatePasswordFieldsBox {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 465px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}
.UpdatingPasswordSubBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 500px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}
.UpdatePasswordButton {
    width: 175px;
    height: 30px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    color: rgb(0, 0, 0);
    margin: 8px auto 0px auto;
    font-size: 11pt;
    font-weight: bold;
}
.UpdatePasswordExitButton {
    background-color:  #dfdfdf;
    color: #585858;
    font-size: 13pt;
    font-weight: bolder;
    margin: 5px 0px 0px 0px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}
.UpdatePasswordExitButton:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}
.UpdatePasswordTextArea {
    font-size: 12pt;
    width: 245px;
    height: 31px;
    margin: 6px 0px 0px 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #222;
    background-color: rgb(255, 255, 255);
    resize: none;
}
.UpdatePasswordText {
    display: flex;
    width: 175px;
    height: auto;
    color: black;
    /* background-color: aliceblue; */
    font-size: 12pt;
    font-weight: bold;
    margin: -3px 0px 0px 5px;
    text-align: center;
    align-items: center;
}

/*
    User Device Boxes Styles
*/
.DeviceOptionMainBox {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 500px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    background-color: rgb(216, 216, 216);
    background-color: goldenrod;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    
    overflow-y: auto;
    scroll-behavior: auto;  /*need hiden and auto*/
}
.DeviceOptionSubBox {
    display: flex;
    flex-direction: row;
    height: 52px;
    width: 450px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    background-color: rgb(164, 227, 231);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.DeviceOptionTitleText {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 450px;
    margin: 3px 0px 0px 10px;
    font-size: 16pt;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.DeviceOptionTitleSubText {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 200px;
    margin: 2px 0px 0px 0px;
    font-size: 14pt;
    color: rgb(0, 0, 0);
}
.DeviceOptionLabel {
    width: auto;
    max-width: 300px;
    height: 30px;
    color: rgb(0, 0, 0);
    margin: 13px 0px 0px 0px;
    font-size: 15pt;
    line-height: normal;
    font-weight: bold;
    text-align: left;
    overflow: auto;
    overflow-wrap: break-word;
    line-height: normal;
    /* background-color: #c9c9c9; */
}
.DeviceOptionButton {
    margin: 10px 10px 10px 10px;
    width: 30px;
    height: 29px;
    background-color: transparent;
    border-radius: 30px;
    border-style: solid;
    color: rgb(0, 0, 0);
    font-size: 14pt;
}
.DeviceOptionButtonSelected {
    margin: 10px 10px 10px 10px;
    width: 30px;
    height: 29px;
    background-color: rgb(116, 116, 116);
    border-radius: 30px;
    border-style: solid;
    color: rgb(0, 0, 0);
    font-size: 14pt;
}
.DeviceOptionButton:hover, .DeviceOptionButtonSelected:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}
.DeviceOptionButtonADMIN {
    margin: 10px 10px 10px 10px;
    width: 30px;
    height: 29px;
    background-color: rgb(116, 116, 116);
    border-radius: 30px;
    border-style: solid;
    color: rgb(0, 0, 0);
    font-size: 14pt;
}
.DeviceOptionButtonLegend {
    margin: 5px 3px 0px 25px;
    width: 18px;
    height: 19px;
    background-color: rgb(116, 116, 116);
    border-radius: 30px;
    border-width: 1.5px;
    border-style: solid;
    color: rgb(0, 0, 0);
}
.DeviceOptionLegendEqualsText {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 15px;
    margin: 1px 0px 0px 0px;
    font-size: 14pt;
    color: rgb(0, 0, 0);
}
.DeviceOptionLegendSelectedText {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 90px;
    margin: 2px 0px 0px 1px;
    font-size: 14pt;
    color: rgb(0, 0, 0);
}
  

/*
    Manager User Option Buttons Styles
*/
.ManageUsersButtonBox {
    display: flex;
    flex-direction: column;
    height: 105px;
    width: 280px;
    margin: 5px 0px 0px 0px;
    align-items: center;
}
.ManageUserPrimaryButton {
    width: 220px;
    height: 45px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: rgb(0, 0, 0);
    margin: 8px auto 0px auto;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.ManageUsersSecondaryButton {
    width: 220px;
    height: 30px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: rgb(0, 0, 0);
    margin: 8px auto 0px auto;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}
.ManageUserPrimaryButton:hover, .ManageUsersSecondaryButton:hover, .UpdatePasswordButton:hover {
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}

/*
    User Updated/Added Result Box Styles
*/
.UserActionResultMainBox {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 514px;
    /* background-color: rgb(27, 132, 69); */

    margin: 8px 0px 0px 10px; 

    >button {
        font-size: 12pt;
    }
}
.UserActionResultErrorText {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 514px;
    margin: 2px 2px 0px 0px;
    color: rgb(0, 0, 0);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.UserActionResultErrorSubText {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 300px;
    margin: 10px 0px 0px 100px;
    color: rgb(0, 0, 0);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    background-color: rgb(207, 207, 207);
}
.UserActionResultExitButton {
    background-color:  #dfdfdf;
    color: #585858;
    font-size: 13pt;
    font-weight: bolder;
    margin: 10px 5px 0 -38px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}
.UserActionResultExitButton:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}