/* 
*****************************************
CSS Styles for Hecate App Selectors (Sensors, Times, Channels)
*****************************************
*/


.MainSelectorAndGraphBox {
    display: flex;
    flex-direction: column;
    /* background-color: var(--sheetBackground); */
    background-color: red;
    margin: 0px 0px 0px 0px;
    height: 800px;
    width: 778px;
    border-bottom-style: solid;
    border-right-style: solid;
}
.MainSelectorBox {
    display: flex;
    flex-direction: column;
    /* background-color: var(--sheetBackground); */
    background-color: red;
    margin: 5px 0px 0px 0px;
    height: 785px;
    width: 775px;
    border-bottom-style: solid;
}
.SubSelectorsBox {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    /* background-color: rgb(230, 230, 230); */
    /* background-color: #60afec; */
    
    background-color: rgb(111, 188, 211);
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: solid;
}

/* 
  Sensor Type Selector Styles
*/
.sensorTypeSelectorBox {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 180px;
    margin: 5px 5px 5px auto;
    text-align: center;
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}
.sensorTypeSelectorText {
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    font-size: 13pt;
}
.sensorTypeSelector {
    width: 150px;
    height: 30px;
    font-size: 11pt;
    margin: 5px auto;
}

/* 
  Time Selector Styles
*/
.timeTypeSelectorBox {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 180px;
    margin: 5px auto 0px 10px;
    text-align: center;
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}
.timeTypeSelectorText {
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    font-size: 13pt;
}
.timeTypeSelector {
    width: 150px;
    height: 30px;
    font-size: 11pt;
    margin: 5px auto;
}

/* 
  Channel Type Selector Styles
*/
.channelTypeSelectorBox {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 180px;
    margin: 5px auto 0px 10px;
    text-align: center;
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}
.channelTypeSelectorText {
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    font-size: 13pt;
}
.channelTypeSelector {
    width: 150px;
    height: 30px;
    font-size: 11pt;
    margin: 5px auto;
}

/* 
  Add Sensor Button Styles
*/
.AddSensorBox {
    display: flex;
    width: 200px;
    height: 60px;
    max-height: 740px;
    background-color: rgb(167, 72, 72);
    color: black;
    margin: 5px 0px 0px 10px;
    font-size: 16pt;
    text-align: center;
    border-radius: 2px;
}
.AddSensorButton {
    margin: 10px auto;
    width: 150px;
    height: 30px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border-style: solid;
    color: rgb(0, 0, 0);
    margin: 10px auto 10px auto;
    font-size: 14pt;
    text-align: center;
    overflow: auto;
    overflow-wrap: break-word;
    line-height: normal;
}

.AddSensorButton:hover {
    background-color: #e4e8eb;
    cursor: pointer;
}