/* 
*****************************************
CSS Styles for Hecate App Visualizations (Graph)
*****************************************
*/

.MainVisualizationBox {
    display: flex;
    flex-direction: column;
    width: 778px;
    height: 680px;
    background-color: rgb(247, 247, 247);
    /* margin: auto; */
    border-right-style: solid;
}

/* 
  Graph Container Styles
*/
.mainGraphBox {
    display: flex;
    flex-direction: column;
    height: 590px;
    width: 750px;
    margin: 20px auto auto auto;
    text-align: center;
}

.chartBox {
  height: 100%;
  width:100%;
  max-width:700px
}